apache-libcloud
argh
argparse
certifi
colorlog
futures==3.0.3
ovh
paramiko
pymongo
python-cinderclient
python-heatclient
python-keystoneclient
python-neutronclient
python-novaclient
python-openstackclient
python-swiftclient
pyyaml
tabulate
termcolor==1.1.0
twisted
